<div>


<h3>Inicia sesi칩n 游눞</h3>

<div>

<form action="/auth/login" method="post" class="row g-3 needs-validation" novalidate>

<div class="col-md-4">
    <label for="username" class="form-label">Nombre de usuario*:</label>
    <input type="text" class="form-control" id="validationCustom01" name="username">
    <div class="valid-feedback">
      Looks good!
    </div>
</div>
 

<br>
<br>

<div class="col-md-4">
    <label for="password" class="form-label">Contrase침a*:</label>
    <input type="password" class="form-control" id="validationCustom01" name="password">
    <div class="valid-feedback">
      Looks good!
    </div>

</div>

<br>

<p style="color:purple">* Campos obligatorios</p>

<br>
<br>

<div class="col-12">
    <button class="btn btn-primary" id="color" type="submit">Iniciar sesi칩n</button>
</div>

<a id="enlace" href="/auth/signup">- Si a칰n no est치s registrado, haz click aqu칤</a>  

{{#if this.errorMessage}}
 <p>{{this.errorMessage}}</p>
{{/if}}



</form>

</div>
</div>