<div>


<h3>Formulario de registro</h3>

<div class="signup-card">

<form action="/auth/signup" method="post">

<label for="username">Nombre de usuario*:</label>
<input type="text" name="username">

<br>
<br>

<label for="email">Correo electrónico*:</label>
<input type="email" name="email">

<br>
<br>

<label for="password">Contraseña*:</label>
<input type="password" name="password">

<br>

<p>*Campos obligatorios</p>

<br>
<br>

<button>Registrar</button>

<br>
<br>

<a href="/auth/login">Si ya estás registrado, haz click aquí</a>  

{{#if this.errorMessage}}

<p>{{this.errorMessage}}</p>

{{/if}}



</form>

</div>

</div>