<div class="admin-link">
     {{#if isAdmin}}
      
        <a id="enlace1" href="/profile/admin">Perfil de administrador</a>
 
      {{/if}}


</div>

    <br />
    <div class="search-bar">
      <form action="/product/product-search" method="get">
        <input
          name="productName"
          type="text"
          placeholder=" Escribe lo que estés buscando ~ 🌺"
          list="products"
        />
        <br>
        <button>Buscar</button>
      </form>
    </div>
    <br />

<div id="div-inicio">

  <img src="/images/LOGO.png" alt="logo">
   <p>¡Bienvenido a tu tienda de confianza!</p>
  <img id="div-inicio-img"src="/images/texto.png" alt="texto">
 
</div>
