<div>


    <h1>Perfil de administrador</h2>

<h2>Bienvenido/a, administrador {{foundUser.username}}.</h2>

<br>
<br>


<a href="/profile/add-product"><button>Añadir productos a la tienda</button></a>
<a href="/profile/purchase-history"><button>Historial de compra</button></a>
<br>
<br>


</div>