<div>

   <h1>Formulario para añadir producto</h1>

   <div>

   <form action="/profile/add-product" method="post">

   <label for="name">Nombre de producto:</label>
   <input type="text" name="name">


   <br>
   <br>

   <label for="price">Precio del producto:</label>
   <input type="text" name="price">

   <br>
   <br>

   <label for="category">Categoría:</label>
   <br>
   <br>
   <select name="category" multiple>

   <option value="figura">Figura</option>
   <option value="cómic">Cómic</option>
   <option value="videojuegos">Videojuegos</option>
   <option value="peluche">Peluche</option>
   <option value="decoración">Decoración</option>
   <option value="miscelánea">Miscelánea</option>

   </select>

   <br>
   <br>

   <label for="description">Descripción:</label>
   <input type="text" name="description">

   <br>
   <br>

   <label for="productImage">Imagen de producto:</label>
   <br>
   <br>
   <input type="file" name="productImage">

   <br>
   <br>

   <button>Añadir producto</button>

   </form>

   <div>

      <p>{{this.errorMessage}}</p>

   </div>

   </div>

</div>