<div>
<h2 class="titulo">Historial de compras</h2>
<div>
    <table class="table table-bordered table-striped table-css">
    <thead>
        <th style="text-align:center">Nombre del producto</th>
        <th style="text-align:center">Precio</th>
        <th style="text-align:center">Comprador</th>
        <th style="text-align:center">Fecha de compra</th>
    </thead>
    <tbody>
        {{#each foundPurchase}}
            <tr>
                <td style="text-align:center">{{this.purchasedProduct.name}}</td>
                <td style="text-align:center">{{this.purchasedProduct.price}}</td>
                <td style="text-align:center">{{this.buyerName}}</td>
                <td style="text-align:center">{{this.createdAt}}</td>

            </tr>
        {{/each}}    
    </tbody>
</table>
</div>

</div>