<div class="perfil">

  <h1>Perfil de administrador 💜</h1>
  <img src="/images/gatito-admin.png" alt="gatito-admin" width="450px" />
  <h2>Bienvenido/a, administrador {{foundUser.username}}</h2>

  <br />
  <br />

  <a href="/profile/add-product"><button
      class="btn btn-primary"
      id="color"
    >Añadir productos a la tienda</button></a>
  <a href="/profile/purchase-history"><button
      class="btn btn-primary"
      id="color"
    >Historial de compra</button></a>

</div>