<div>


    <h1>Perfil de administrador</h2>

<h2>Bienvenido/a, administrador {{foundUser.username}}.</h2>

<br>
<br>


<a href="/profile/add-product"><button>Añadir productos a la tienda</button></a>

{{!-- <h2>Historial de compra</h2>
{{#each foundUser.purchasesMade}}

<p>{{this.name}}: {{this.price}}</p>

{{/each}} --}}

</div>