<div>
   <h2>Edita el producto</h2>

   <div>

      <form action="/product/products/{{this.product._id}}/edit" method="post">
         <div class="col-md-4">
            <label for="name" class="form-label">Nombre de producto:</label>
            <input type="text" class="form-control" id="validationCustom01" name="name" value="{{this.product.name}}" />
            <div class="valid-feedback">
               Looks good!
            </div>
         </div>

         <br>

         <div class="col-md-4">
            <label for="price" class="form-label">Precio del producto:</label>
            <input type="text" class="form-control" id="validationCustom01" name="price"
               value="{{this.product.price}}" />
            <div class="valid-feedback">
               Looks good!
            </div>
         </div>

         <br>

         <div class="col-md-3">
            <label for="validationCustom04" class="form-label">Categoría:</label>
            <select class="form-select" id="validationCustom04" required>
               <option selected disabled value="">Elige...</option>
               <option value="figura">Figura</option>
               <option value="cómic">Cómic</option>
               <option value="videojuegos">Videojuegos</option>
               <option value="peluche">Peluche</option>
               <option value="decoración">Decoración</option>
               <option value="miscelánea">Miscelánea</option>
            </select>
            <div class="invalid-feedback">
               Please select a valid state.
            </div>
         </div>

         <br>

         <div class="col-md-4">
            <label for="description" class="form-label">Descripción:</label>
            <input type="text" class="form-control" id="validationCustom01" name="description"
               value="{{this.product.description}}" />
            <div class="valid-feedback">
               Looks good!
            </div>
         </div>

         <br>

         <div class="col-md-4">
            <label for="productImage" class="form-label">Imagen del producto:</label>
            <input type="file" class="form-control" id="validationCustom01" name="productImage" />
            <div class="valid-feedback">
               Looks good!
            </div>
         </div>

         <br>

         <div class="col-12">
            <button class="btn btn-primary" id="color" type="submit">Actualizar producto</button>
         </div>

      </form>

      <div>

      </div>



   </div>