 <br />
    <div class="search-bar">
      <form action="/product/product-search" method="get">
        <input
          name="productName"
          type="text"
          placeholder=" Escribe lo que estés buscando ~ 🌺"
          list="products"
        />
        <br>
        <button >Buscar</button>
      </form>
    </div>
    <br />



<div>

    <h1>Lista de productos</h1>

    <div>
        {{#each products}}
        <div class="product-card">
            <img src="{{this.productImage}}" width="180px" height="270px" alt="Imagen de producto">
            <br>
            <a href="/product/products/{{this._id}}">{{this.name}}</a>
        </div>        
        {{/each}}
    </div>

</div>
